{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{profile.user}}{% endblock %}
{% block content %}
<main role="main">
          <form class="marco" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            <!-- Avatar -->
              <h2>{{profile.user}}</h2>
                <div class="perfiles">
                   {% if profile.avatar %}
                      <img src="{{profile.avatar.url}}">
                   {% else %}
                      <img src="{% static 'registration/img/no-avatar.jpg' %}">
                   {% endif %}
                    <!-- Campos -->
                <div class="otra">
                   {% if profile.bio %}<p>{{profile.bio}}</p>{% endif %}
                   {% if profile.link %}<p><a href="{{profile.link}}" target="_blank">{{profile.link}}</a></p>{% endif %}
                </div>
                </div>
                <div class="opciones">
                   <p>
                     <a href="{% url 'profiles:list' %}">Atrás</a>
                   </p>
                </div>
          </form>
</main>
{% endblock %}