/* Aquí se ve en vista pequeña*/
body{
    font-family: 'Libre Bodoni', serif;font-family: 'Rubik', sans-serif;
    background-color: #cf900a;
    text-align: center;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    background-color: #C25400;
    width: 100%;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.header h1{
    font-size: 5.2vw;}

.header ul{
    justify-content: end;
}

.list{
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;

}

nav{
    background-color: #cf900a;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    background: white;
}


li{
    list-style: none;
    margin: 3px 20px;
}
li a {
    padding: 10px;
    margin: 0px;
}

nav ul li{
    margin: 0px 40px;
    padding: 10px 0px;
}


a{
    color: black;
    text-decoration: none;
}


 li a:hover {
    color: white;
    background-color: #cf900a;
  }

  a:active {
    color: #C25400;
  }

main h1{
    padding: 10px;
    background-color: #C25400;
    margin: 20px 0px 20px 0px;

}

.catalogo{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;

}

.categoria{
    box-sizing: border-box;
    overflow: hidden;
    width: 250px;
    height: 300px;
    padding: 5px 0px 0px 0px;
    background-color: antiquewhite;
    border-radius: 5%;
    border: solid #C25400;
}
.categoria img{
    max-width: 80%;
    margin: auto;
    border-radius: 5%;
    max-height: 180px;


}

.categoria h3{
    margin: 15px 10px;
    padding-bottom: 5px;
    text-decoration:underline;
}
.categoria p a{
    padding: 1px;
}
.categoria p a:hover{
    color: white;
    background-color: #cf900a;
    border-radius: 5%;
    padding: 1px;

}

.categoria:hover{
    transform: scale(1.05)
}
.marco{
    box-sizing: border-box;
    overflow: hidden;
    width: 80vw;
    min-height: 170px;
    padding: 5px 0px 0px 0px;
    background-color: antiquewhite;
    border-radius: 5%;
    border: solid #C25400;
}
.marco h2{
    background: #C25400;
    padding: 20px;
    margin-top: -10px ;
}
.detalles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.otra{
    margin: 30px;
    overflow: hidden;
}
.opciones{
    display: flex;
    justify-content: center;

}
.opciones p {
    margin: 30px;
    padding: 1px;
}
.opciones p a {
    padding: 3px;
}

.opciones p a:hover{
    color: white;
    background-color: #cf900a;
    border-radius: 5%;

}

.detalles img{
    width: 30vw;
    margin: auto;
    padding: 30px;
    border-radius: 20%;
}

.foto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.foto img{
    border-radius: 50%;
    min-width: 150px;
    max-height: 160px;

}


footer{

    display: flex;
    flex-direction: column;
    background-color: #C25400;
    font-family: 'Libre Bodoni', serif;font-family: 'Rubik', sans-serif;
    margin-top: 25px;
}

footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul li a:hover{
    border-radius: 10px;
}

.contenedor-nosotros{
    margin: auto;
    width: 90%;
    background-color: #cf900a;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 20px;
}
.item-nosotros{
    width: 60%;
    background-color: antiquewhite;
    margin: 3px;
    border-radius: 20px;
    border: #C25400 solid 3px;
    padding: 0px 20px;
}

form{
    margin: auto;
    width: 80%;
    background-color:antiquewhite;
    border-radius: 20px;
    border: #C25400 solid 3px;
    padding: 20px;
}
input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    border: #C25400 solid 1px;
    border-radius: 10px;
}
textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}
.boton{
    background-color: #EFEFEF;
    padding: 20px;
    margin: 0px;
    border: #C25400 solid 1px;
    width: 100%;
}
.boton:hover{
    cursor: pointer;
    background-color: #C25400;
    color: #ffffff;
}

.redes ul{
    display: flex;
    justify-content: center;
}

.redes-vertical li {
    padding-top: 8px;
}
.redes-vertical li a:hover{
    border-radius: 10px;
    padding: 5px;
}

.login-menu {
    position: fixed;
    top: 0px;
    right: 10px;
    display: flex;

}
.login-menu li{
    margin: 0px;
}


.login-menu li a{
   color: #ffffff;
    border-radius: 10%;

}

.perfiles{


}

.perfiles img{
    width: 300px;
    border-radius: 50%;

}


/*Pantalla mediana*/
@media only screen and (min-width: 600px) {


    li {
        margin: 5px 30px;
    }

    .catalogo {
        gap: 30px;
    }

    footer {
        margin-top: 30px;
    }

    main h1 {
        margin: 30px 0px 30px 0px;
    }

    form {
        width: 40%;
    }

    .boton {
        max-width: 35%;
    }
    .list{
        display: flex;
        gap: 25px;
        flex-direction: row;
        justify-content: space-around;
    }
    nav ul{
        justify-content: center;
    }
    .detalles{
        flex-direction: row;
        align-content: center;
    }
    .detalles img{
        max-width: 20vw;
        min-width: 200px;
    }
}

/*Pantalla Grande*/
@media only screen and (min-width: 1150px) {

    .list{
        flex-direction: row;
        justify-content: center;}
    li{ margin: 6px 40px;}
    .header{
        justify-content: space-between;}
    .catalogo{gap: 50px;}
    footer{margin-top: 50px;}
    main h1{
        margin: 40px 0px 40px 0px;}

    .categoria{
    min-width: 200px;
    min-height: 220px;
    }
    .categoria img{
    max-width: 60%;
    max-height: 160px;
    }
    nav ul{
        justify-content: center;
    }
    .detalles{
        flex-direction: row;
        align-content: space-around;
    }
    .detalles img{
        width: 15vw;
    }

    .marco{
        width: 45vw;
    }

}
