{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{page.title}}{% endblock %}
{% block content %}
{% include 'productos/includes/productos_menu.html' %}

<main role="main">

  <div class="catalogo">
    <div class="marco">
    <h2>{{product.title}}</h2>
      <div class="detalles">
        <img src="{{product.image.url|safe}}" alt="{{product.title}}"/>
        <div class="otra">
            <p><b>Descripción:</b> {{product.description|safe}}</p>
            <p><b>Precio:</b> ${{product.precio|safe}}</p>
        </div>
      </div>

      <div class="opciones">
        <p><a href="{% url 'productos:productos' %}">Atras</a></p>
        {% if request.user.is_staff %}
        <p><a href="{% url 'productos:update' product.id %}">Editar</a></p>
        {% endif %}
      </div>
    </div>
  </div>
</main>
{% endblock %}