{% extends 'core/base.html' %}
{% block title %}Contacto{% endblock %}

{% block headers %} <h1>Escribinos</h1> {% endblock %}

{% block content %}
 <form name="formu">
          <input type="text" name="nombre" maxlength="100" placeholder="Ingrese su Nombre"/>
          <input type="text" name="correo" maxlength="100" placeholder="Ingrese su E-mail"/>
          <input type="number" name="numero" maxlength="20" placeholder="Ingrese su Teléfono"/>
          <textarea name="mensaje" placeholder="Escriba su mensaje"></textarea>
          <input type="file" value="Archivo" /><br /><br />
          <input type="button" value="Enviar" onclick="valida_envia()" id="boton" class="boton"/>
        </form>
{% endblock %}
