{% if request.user.is_staff %}
    <nav>
        {% block headers %} <h1>Administrador</h1> {% endblock %}
        <ul>
            <li>
                <a class="nav-link" href="{% url 'productos:create'%}"><i>Cargar Producto</i></a>
            </li>
            <li>
                <a class="nav-link" href="{% url 'productos:productos'%}"><i>Lista de Productos</i></a>
            </li>
            <li>
                <a class="nav-link" href="{% url 'profiles:list' %}"><i>Perfiles</i></a>
            </li>
        </ul>
    </nav>

{% endif %}